@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');

.navbar{
    background-color:black;
    margin: 0 !important;
    padding: 0;
    display: block !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    z-index: 1000;
}
.header{
    margin: none !important;
}
.navbar-nav{
    list-style-type: none;
    overflow:hidden;
    display: flex;
    gap: 1.5rem;
    justify-content:flex-start;
    align-items: left;
}
.nav-link{
    padding-bottom: 1rem;
    font-size: 17px;
    font-weight: 400 !important;
}